node_modules/
.env
npm-debug.log*
.DS_Store
package-lock.json
coverage/
logs/
docs/
config/influxDb.json
config/influx.json
config/influx.save
public/plot/
config/VP2_Serramoune.lock
public/img/batterie-25.png
public/img/batterie-50.png
